hr {
  margin: 0;
  padding: 0;
}

body {
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

body .attackable {
  cursor: 'images/attack.cur';
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#application {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid #000;
}

#battlefield {
  height: 280px;
}

#battlefield > div {
  height: 139px;
}

.util {
  height: 160px;
  padding: 0;
  border: 1px solid #ccc;
}

.card {
  cursor: move;
}

ul.hand, ul.ground {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  clear: both;
  height: 100%;
}

ul.hand > li.card {
  height: 100px;
  width: 65px;
  position: relative;
  float: left;
}

#you > .util > ul.hand > .card {
  border: 1px solid #00f;
  top: 58px;
}

#opponent > .util > ul.hand > .card {
  border: 1px solid #f00;
  background-color: #ff6767;
}

ul.ground > li.card {
  height: 123px;
  width: 80px;
  float: left;
  border: 1px solid #000;
  background-color: none;
  top: 8px;
  position: relative;
}

ul.ground > li.card[data-sick="true"] {
  border: 1px solid #ddd;
  background-color: #eee;
}

ul.ground > li.card[data-used="true"] {
  border: 1px solid #eee;
  background-color: none;
}

ul.ground > li.card[data-attacker="true"] {
  border: 1px solid #0f0;
}

ul.ground > li.card[data-defender="true"], div.player[data-defender="true"] {
  border: 1px solid #f00;
}

#you > .util > .face {
  z-index: 1;
  width: 120px;
  height:120px;
  margin: 0 auto;
}

.controls.top {
  height: 24px;
}

#end-turn, #enemy-turn, #action-turn {
  display: none;
  padding: 4px;
  font-size: 12px;
  width: 100%;
  margin: 0;
}

.card .mana {
  font-size: 13px;
}

.card .name {
  font-size: 10px;
}

.card .stats {
  font-size: 14px;
}

.deck {
  width: 80px;
  height: 100px;
  border: 1px solid #000;
  margin: 10px auto;
}

#you > .util > .deck {
  background-color: #6073ff;
}

#opponent > .util > .deck {
  background-color: #ff6767;
}

.mana-meter {
  width: 20px;
  float: left;
}

.mana-meter > label {
  font-size: 12px;
  display: block;
}

.mana-meter > span {
  height: 12px;
  width: 12px;
  display: block;
  margin: 2px;
}

.mana-meter > span.available {
  background-color: #c600ff;
}

.mana-meter > span.used {
  background-color: #ccc;
}

#opponent > .util > .mana {
  position: relative;
}

.player {
  float: left;
  width: 80px;
  height: 100px;
}

.player img {
  width: 80px;
  height: 100px;
}
